@{
    ViewData["Title"] = "Home Page";
}
@if(User.IsInRole("Admin")) {
<h3>Merhaba Admin, Hoşgeldiniz</h3>
}
@if(User.IsInRole("BasicUser")) {
<h3>Merhaba Kullanıcı, Hoşgeldiniz</h3>
}
<div class="text-center">
    <img class="img-fluid" src="https://www.pngplay.com/wp-content/uploads/7/Building-Vector-PNG-Clipart-Background.png"/>
</div>
