@{
    ViewData["Title"] = "Home Page";
}
@if(User.IsInRole("Admin")) {
<h1>Hello Admin, Welcome</h1>
}
@if(User.IsInRole("BasicUser")) {
<h1>Hello User, Welcome</h1>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
